/* roboto-300 - latin */
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   src: local(''),
        url('../fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* roboto-300italic - latin */
 @font-face {
   font-family: 'Roboto';
   font-style: italic;
   font-weight: 300;
   src: local(''),
        url('../fonts/roboto-v30-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* roboto-regular - latin */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* roboto-500 - latin */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: local(''),
        url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* roboto-700 - latin */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: local(''),
        url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

 html{
   box-sizing: border-box;
   font-size: 10px;
   scroll-behavior: smooth;
 }

 *,*::before,*::after{
   box-sizing: inherit;
   }

   body{
      font-family: 'Roboto','Arial', 'Verdana', 'Geneva', 'Tahoma', sans-serif;
      font-style: normal;
      max-width: 1600px;
      margin: 0   auto;
      color:#fffff0 ;
    }
    
    h3{
      display: inline-block;
      font-size:1.5rem;
  }

  p{
      font-size: 1.4rem;
  }

  a{
    text-decoration: none;
  }
  h1, h2{
   text-align: center;
 }

   .wrapper{
      max-width: 1100px;
      margin: 0 auto;
      display:flex;
    }
    
    .block__subtitle {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;

      height: 35px;
      padding: 5px;

      color: #08454A; 
      background-color: #e6B656
        
    }
    .column__first{
      width:35%;
      background-color: #08454A;
      padding: 10px 20px;

    }

    .column__second{
      width:65%;
      margin-left:40px;
    }

   /*header starts*/
   .logo{
      width:100px;
      margin-top: 10px;
      margin-bottom: 10px;
     }
     nav{
      position: relative;
      left:30%;
       
       align-self: center;
       display: flex;
       gap:45px;
     
     }
     
     .buttons{
       background-color: #08454A;
       color: #fffff0;
       border-color: transparent;
       padding: 5px;
     
     }
     .buttons:hover,.buttons:focus, .buttons:active{
       opacity: 0.75;
     }
     
     /*header ends*/

     /*column first starts*/
     .my__photo {
  
      display: block;
     margin:15px auto 0;
      width: 150px;
    
    }

   .contact__list{
    list-style-type:none;
    padding-left: 20px;
  }
  .contact__info{
    display:inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #fffff0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.4rem;
  }
  .svg__icons{
    display:inline-block;
    vertical-align: middle;
    height:20px;
    width:20px;
    margin-right:5px;
  }
  .skills {
    text-align: right; /* Right-align text */
    padding-right: 40px; /* Add some right padding */
    line-height: 10px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color:#08454A; /* White text color */
  }
  
  .html {
    width: 50%; 
    background-color: #e6B656;
  } 
  .css {
    width: 50%; 
    background-color: #e6B656;
  } 
  .js {
    width: 30%; 
    background-color:#e6B656;
  } 
  /*column first ends*/