html, body {
   height: 100%; /* Высота */
   margin: 0;
 }


.name {
   display: flex;
   position: relative;
   width: 100%;
   margin: auto;
   box-align: center;
   top: -20px;
   margin-left: 200px ;
   margin: 0px;
   padding: 4%;
   width: 100%;
   height: 30%;
   background-color: #eaf2f2;
}
.my-photo{
   float: left;
   margin: 10px;
   box-align: left;
   width: 250px;
   height: 330px;
}

.col1 {
   display: inline-block;
     position: relative;
     float: left;
    
     top: 0px;
     margin: 1%;
     padding: 2%;
     
     width: 24%;  /* 280px*/
     height: 50%;
     background-color: #d9e8fc;

    text-indent: 10px;     /* абзацный отступ для текста внутри блока*/
}

.col2{
   display: inline-block;
   position: relative;
   float: left;
   top: 0px;
   left: 0px;
   margin: 1%;
   padding: 2%;
   width:  64%; /*700*/
   height: 50%;
   background-color: #B0C4DE;
   overflow: auto; /* Полосы прокрутки при необходимости */
   text-indent: 2% ;
   
}

.additional-info{
   position: relative;
   float: bottom;
   margin: 1%;
   padding: 4%;
   top: 60%;
   width: 100%; 
   height: 20%;
   
   
   background-color: #629f9f;
}

.additional-info img{
   position: relative;
   display: block;
   margin: 1%;
   width: 270px;
   height: 180px;

}

h1 {
   font-size: 60px;
      }

   .contacts-skills h3{
   font-size: 30px;
   text-align: center;
 }

 .common-information h3{
   font-size: 30px;
 }

 h3{
   font-size: 30px;
 }

 p{
   font-size: 26px;
 }

 ul{
   font-size: 26px;
 }

html{
   font-family: Arial, Futura, sans-serif;
}


